.christmas-snow {
  background-color: #F4F4F4;
  background-image: radial-gradient(
    #81bf33 50px,
    transparent 50px,
    transparent 100%
  );

  background-size: 80px 80px;
  background-repeat: repeat;
  animation-name: snowing;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.christmas-footer {
  line-height: 60px;
  background-color: #074F30;
  color: #fff;
  font-family: "UndertaleFont";
}

@keyframes snowing {
  0% {
    background-position: 0% 0px;
  }
  50% {
    background-position: 5% 40px;
  }
  100% {
    background-position: 0% 80px;
  }
}
