/* html {
  position: relative;
  min-height: 100%;
} */

/* body {
  margin-bottom: 60px;
} */

/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
} */

.body-background {
  background-image: url("./../assets/img/agsquare.png")
}

@font-face {
  font-family: "UndertaleFont";
  src: url("./../assets/font/DeterminationJP.ttf") format("truetype");
}

@font-face {
  font-family: "NicomojiFont";
  src: url("./../assets/font/nicomoji-plus_1.11.ttf") format("truetype");
}

.font-undertale {
  font-family: "UndertaleFont";
}

.font-nicomoji {
  font-family: "NicomojiFont";
}

.font-helvetica {
  font-family: "Helvetica";
}
