.text-giants { color: #F60; }
.text-baystars { color: #00428E; }
.text-tigers { color: #FFE100; }
.text-carp { color: #E70C03; }
.text-dragons { color: #00418D; }
.text-swallows { color: #0E1350; }
.text-seibulions { color: #001566; }
.text-sbhawks { color: #FCC700; }
.text-rakuteneagles { color: #86000F; }
.text-chibalotte { color: #000000; }
.text-fighters { color: #02508C; }
.text-bs { color: #BBAD38; }
