.button-outline {
  cursor: pointer;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid #dbdbdb;
  padding: .375rem .75rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: .25rem;
}
.button-outline:hover {
  border-color: #b5b5b5;
  color: #363636;
}
.button-outline:active {
  border-color: #4a4a4a;
  color: #363636;
}
.button-outline:focus {
  border-color: #485fc7;
  color: #363636;
  box-shadow: 0 0 0 0.125em rgb(72 95 199 / 25%);
}

.button-danger {
  background-color: transparent;
  border-color: #f14668;
  color: #f14668;
}
.button-danger:hover, .button-danger:focus {
  background-color: #f14668;
  border-color: #f14668;
  color: #fff;
}
