.modal {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal .modal-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
